{% extends 'base.html' %}
<html>
    <body>
        {% block content%}
        <h1>Academics</h1>
        <form action="Academics" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-primary" name="" value="Submit">
        </form>

        <br>
        <br>

        
        {% endblock %}
    </body>
</html>