<!DOCTYPE html>
<html>
    <head>
        <title>Orchids international school</title>

        <style>
            .div1{
                background-color: black;
                height: 120px;
            }
            .div1a{
                height:80px;
                width: 60%;
                text-align: center;
                border-radius: 5px;
                margin-left: 30px;
                background-color: white;
                float: left;
            }
            .div2{
                height: 40px;
                background-color: maroon;
                color: white;
                width: 100%;
                margin-left: 10px;
                text-align: right;
                float:right;
            }
            table{
                float:right;
                margin-top: 10px;
            }
            table tr td :hover{
                float: left;
                text-align: center; 
                padding-right: 20px; 
                margin-right: 10px;
            }

            footer{
                bottom: 0px;
                text-align: center;
                border: 5px solid black;
                color:white;
                background-color: maroon;
                width: 100%;
            }
            div3{
                display: inline;
                width: 100%;
            }

            footer table{
                float:none;
                text-align: center; 
                padding-right: 20px; 
                margin-right: 10px;
            }

            footer table tr td{
                padding-right: 200px;
            }

            a{
                text-decoration: none;
                color: #000;
            }
            ul{
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <div class="div1">
            <div>
                <img scr="https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D1414143555536398&imgrefurl=https%3A%2F%2Fwww.facebook.com%2FOrchidsBTMlayout%2F&tbnid=09TFSiy2jlC1eM&vet=12ahUKEwjU8N6mh-vsAhWYcisKHbN8B8IQMygAegUIARCcAQ..i&docid=v9pKi0mB2IFlUM&w=556&h=556&q=orchids%20international&ved=2ahUKEwjU8N6mh-vsAhWYcisKHbN8B8IQMygAegUIARCcAQ">
            </div>
            <div class="div1a">
                <h1 style="color: maroon;"><b>ORCHIDS INTERNATIONAL SCHOOL</b></h1>
            </div>
        </div>
        <div class="div2">

            <table>
                <tr>
                    <td>HOME</td>
                    <td>ABOUT</td>
                    <td>CAMPUS</td>
                    <td><a href="Academics">ACADEMICS</a></td>
                    <td>ACTIVITIES</td>
                </tr>
            </table>
        </div>
        <br>
        {% block content %}
        {% endblock %}
        <footer>
          <div class="div3">
              <table>
            <tr>
                <td>
                <h2>ABOUT US</h2>
                <ul class="listfooterCont">                                    
                    <li class="text-uppercase"><a href="https://www.orchidsinternationalschool.com/about-us/why-us/">Why ORCHIDS?</a></li>
                </ul>
                <div class="3aa">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    AWARD WINNING SCHOOL
                </div>
            </td>
            <td>
                <h2>OUR SCHOOLS</h2>
                <ul class="listfooterCont list-with-bottom-border">                                    
                    <li><a href="https://www.orchidsinternationalschool.com/bangalore-branches/">Bengaluru Schools</a></li>
                    <li><a href="https://www.orchidsinternationalschool.com/mumbai-branches/">Mumbai Schools</a></li>
                    <li><a href="https://www.orchidsinternationalschool.com/pune-branches/">Pune Schools</a></li>
                    <li><a href="https://www.orchidsinternationalschool.com/hyderabad-branches/">Hyderabad Schools</a></li>
                    <li><a href="https://www.orchidsinternationalschool.com/kolkata-branches/">Kolkata Schools</a></li>
                    <li><a href="https://www.orchidsinternationalschool.com/chennai-branches/">Chennai Schools</a></li>
                </ul>
            </td>
            <td>
                <h2> REACH US</h2>
                <ul class="listfooterCont">                                    
                    <li><a href="mailto:info@orchids.edu.in"></a>info@orchids.edu.in</li>
                    <li><a href="tel:+919513731352"></a>(+91) 9513731352</li>
                </ul>
            </td>
          </div>
        </table>
        </footer>
    </body>
</html>