<!DOCTYPE html>
<html>
<head>
	<title>Grade System</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body{
				background-color: hsl(0, 0%, 70%);
                text-align: center;

		}
		th.hover{
			color: red;

		}
		input[type=text]{
  width: 25%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.icon {
  padding: 14px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
	.text{
		margin-top: 50px;
	}
	input[type=button]{
  background-color: dodgerblue ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
	</style>
	<header style="font-size: 50px;margin-left: 150px; margin-top: 50px;">GradeSystem</header>
</head>
<body>

	<div class="text">
	<form action="index" method="POST">
	{% csrf_token %}
	
		<div>
			<i class="fa fa-graduation-cap icon"></i>
		<input type="text" name="grades" placeholder="grade"><br></div>
		<div>
			<i class="fa fa-puzzle-piece icon"></i>
		<input type="text" name="section" placeholder="section"><br>
		</div>
		<div>
			<i class="fa fa-subscript icon"></i>
            <input type="text" name="subject" placeholder="subject"><br>
            <button>add</button>
			<!-- <table>
			<th><input type="button" name="Add" value="Add"></th>
			<th><input type="button" class="button" value="Update"></th>
			<th><input type="button" class="button" value="Delete"></th>
			<th><input type="button" class="button" value="Display"></th>
			</table> -->
		
</form>
{% if flag %}<h2>successfully uploaded</h2>{% endif %}
			</div>
	</div>
	
</body>
</html>